.wprm-admin-modal-recipe {
    max-width: 1000px;

    .wprm-admin-modal-recipe-history-controls {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px 6px;

        .button {
            margin-left: 0;
        }

        .wprm-admin-modal-recipe-history-notice {
            font-size: 12px;
            color: #fff;
            margin-left: 6px;
            line-height: 1.2;
        }
    }

    .wprm-admin-modal-recipe-quicklinks {
        flex: none;
        text-align: center;
        padding: 5px 0;
        background-color: #ebebeb;
        border-bottom: 1px solid #999;

        a {
            display: inline-block;
            margin: 2px 5px;
            text-decoration: none;
            cursor: pointer;
            opacity: 0.7;

            &:hover, &.active {
                text-decoration: underline;
                opacity: 1;
            }

            &.wprm-admin-modal-recipe-quicklink-warning {
                color: #8B0000;
                font-weight: bold;
                opacity: 1;

                svg {
                    width: 14px;
                    height: 14px;
                    vertical-align: middle;
                }
            }
        }
    }

    #wprm-admin-modal-recipe-content {
        position: relative;
    }
}

@media screen and (max-height: 600px) {
    .wprm-admin-modal-recipe {    
        .wprm-admin-modal-recipe-quicklinks {
            display: none;
        }
    }
}
